@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑"; font-size:12px; margin:0; padding:0; }
img{ border:0;}


/*枫之都介绍*/
.nybanner_about{ background:url(../images/about/c1.jpg) center center no-repeat; height:197px;}

.nrym_cont{ padding-top:30px;margin: 0 auto; width: 980px;}
.nycont_bj{ background-color:#f8f8f8;}/*背景白色*/
.nycontnrbox{ width:1100px; margin:0 auto; background-color:#FFF; padding-bottom:40px;}
.nycont_kd{ width:1020px;}
.nycontnr{ width:1000px; margin:0 auto; }

.nycont_bj{ margin-bottom:-60px; zoom:1;}
.zcwz_label{ border-bottom:4px solid #cfcfcf; }
.zcwz_label_left{ background:url(../images/about/c2.jpg) left bottom no-repeat; height:31px; margin-bottom:-4px; zoom:1; font-size:22px;  padding-left:33px; color:#ff3700; float:left; border-bottom:4px solid #ff3700; padding-right:6px;}
.zcwz_label_right{ float:left; color:#a9a9a9; padding-left:10px; padding-top:7px; font-size:18px;}


.about_js img{ max-width:679px;_width:expression(this.width > 679 ? "679px" : this.width);}

.about_js{ color:#504D4D;}
.about_js p{ font-size:14px; line-height:1.8em; display:block;}
.img_p{ text-align:center; display:block;  }
.about_bt1{ font-size:20px; color:#ff3700; text-align:center; display:block; font-weight:bold;}
.about_bt2{ font-size:16px; color:#ff5a00;  display:block;}

/*合作伙伴*/

.hzhb_ny{margin:0 auto; width:92%;} 
.hzhb_ny_label{ border-bottom:1px solid #999; line-height:30px;}
.hzhb_ny_label_left{ float:left;font-size:16px;color:#a9a9a9;}
.hzhb_ny_label_right{ float:right;  color:#a9a9a9;}
.hzhb_ny_label_left span{ padding-right:20px; font-size:22px;color:#ff3700;}
.hzhb_ny_cont{ padding-top:20px;}

.hzhb_ny_down{ margin-top:40px;}
.hzhb_ny_cont a{ display:block; float:left; margin:10px 5px;}


/*我的优势*/
.wdys_ny{ background:url(../images/about/c14.jpg) right top no-repeat; width:679px; padding-left:30px;}
.wdys_label{ height:30px;}
.wdys_one{ width:320px; margin-bottom:20px;}
.wdys_two{ margin-bottom:20px;}
.wdys_label span{ color:#FFF; font-size:18px; background:url(../images/about/c15.jpg) no-repeat; width:55px; height:25px; text-align:center; display:block; float:left;}
.wdys_label h2{ float:left; display:block; margin:0; padding-left:10px; font-weight:normal; font-size:20px;}
.wdys_cont{ padding-left:10px; line-height:1.7em; padding-top:5px; color:#474747; font-size:14px;}


/*联系我们*/
.lxwm_ny{ background:url(../images/about/c18.jpg) right 30px no-repeat; padding-bottom:20px;}
.lxwm_ny_up{ width:400px; line-height:2.5em; margin-bottom:30px; margin-left:40px; margin-top:30px;}
.lxwm_ny_up_label{height:32px; line-height:32px; color:#ff4612; font-size:20px;}
.lxwm_ny_up_label img{ float:left; margin-right:10px;}
.lxwm_ny_cont{ color:#666; margin-top:15px; font-size:14px;}

/*人才招募*/

.join_ny img{ max-width:710px;_width:expression(this.width > 710 ? "710px" : this.width);}
.join_list{ padding-top:20px; padding-bottom:10px; width:640px; margin:0 auto;}
.join_list_label{ background:url(../images/about/c20.jpg) no-repeat; width:620px; height:37px; line-height:37px; margin:0 auto; padding-left:20px; font-size:16px;}
.join_list_cont{ padding-left:20px; padding-top:10px; color:#666; font-size:14px;}
.join_zd{ font-size:16px; color:#fe6000;}
.join_list_lx{ color:#f60000; width:600px; margin:0 auto; font-size:16px; margin-top:30px;}





/*四个快捷键文件夹页面*/

/*关于MLS*/

.nycont_bj{ background-color:#f8f8f8;}/*背景白色*/

.nybanner_mls{ background:#f8f8f8 url(../images/about/c27.jpg) center center no-repeat; height:386px; margin:0 auto;}
.ny_cont_mls_title{ text-align:center; font-size:35px; color:#ff3c00; padding-top:40px;}
.ny_cont_mls_info{ text-align:center; color:#666; margin-top:10px; font-size:17px;}
.ny_cont_zy{ font-size:22px;color:#ff3c00; margin-top:40px; margin-bottom:10px;}
.ny_mls_one{ text-align:center;}
.ny_mls_three{ font-size:16px;border-bottom:3px solid #666; padding-bottom:30px; padding-top:20px;}
.ny_mls_three span{ font-size:20px; color:#ff3c00; }
.ny_mls_four p{ margin:20px 0; font-size:16px; line-height:1.8em;}
p.ny_mls_p{ color:#ff3c00; font-size:18px;}


/*关于房产经纪*/

.nybanner_fcjj{ background:#f8f8f8 url(../images/about/c32.jpg) center center no-repeat;height:386px; margin:0 auto;}
.ny_fcjj_one span{ font-size:18px; display:block; margin:20px 0;}
.ny_fcjj_two_label{ background:url(../images/about/c35.jpg) no-repeat; width:902px; height:101px; line-height:80px; margin:0 auto; font-size:32px; text-align:center; color:#FFF; margin-bottom:20px; margin-top:50px;}
.ny_fcjj_two_listone{ background:url(../images/about/c36.jpg) no-repeat; padding-left:30px; width:879px; padding:10px 30px 0 80px; color:#FFF; font-size:15px; line-height:1.8em; padding-bottom:10px;}
.ny_fcjj_two_listtwo{ background:url(../images/about/c37.jpg) no-repeat; padding-left:30px; width:879px; padding:10px 30px 0 80px; color:#FFF; font-size:15px; line-height:1.8em; padding-bottom:10px; margin:25px 0;}
.ny_fcjj_two_listthree{ background:url(../images/about/c38.jpg) no-repeat; padding-left:30px; width:879px; padding:10px 30px 0 80px; color:#FFF; font-size:15px; line-height:1.8em; padding-bottom:10px; margin-bottom:20px;}


/*关于购房合同*/

.nybanner_gfht{ background:#f8f8f8 url(../images/about/c39.jpg) center center no-repeat;height:386px; margin:0 auto;}
.ny_gfht_one{ font-size:16px; line-height:2em; color:#333; padding:0 12px;}
.ny_gfht_two{ background:url(../images/about/c40.jpg) no-repeat; width:651px; height:1049px; margin:30px auto;}
.ny_gfht_two div{ color:#444;}
.ny_gfht_x1{ font-size:14px;padding-top:130px; width:290px; padding-left:20px;}
.ny_gfht_x2{ font-size:14px;padding-top:93px; width:290px; padding-left:340px;}
.ny_gfht_x3{ font-size:14px;padding-top:94px; width:290px; padding-left:20px;}
.ny_gfht_x4{ font-size:14px;padding-top:94px; width:290px; padding-left:340px;}
.ny_gfht_x5{ font-size:14px;padding-top:100px; width:290px; padding-left:20px;}


/*关于购房流程*/
.nybanner_gflc{ background:url(../images/about/c41.jpg) center center no-repeat;height:386px; margin:0 auto;}
.ny_cont_gflc{ font-size:15px;background:url(../images/about/c42.jpg) no-repeat; width:941px; height:855px; margin:30px auto;  }

.ny_cont_gflc div{ height:50px; margin:15px 0;margin-left:130px;margin-right:120px; }
.gflc_1{ padding-top:50px;   text-align:right;}
.gflc_3{  text-align:right;}
.gflc_5{   text-align:right;}
.gflc_7{ text-align:right;}
.gflc_9{   text-align:right;}
.gflc_11{  text-align:right;}
div.gflc_12{  margin-top:-5px; zoom:1;}


/*四个快捷键*/

.nybanner_sgkjj{ background:url(../images/about/c45.jpg) center center no-repeat; height:463px;}
.nycont_sgkjj{ padding-top:50px; margin-right:-50px; zoom:1; margin-bottom:50px;}
.nycont_sgkjj a{ margin-right:70px;}
.sgkjj1{ background:url(../images/about/btn1.jpg) no-repeat; height:147px; width:186px; display:block; float:left;}
.sgkjj2{ background:url(../images/about/btn2.jpg) no-repeat; height:147px; width:186px; display:block; float:left; }
.sgkjj3{ background:url(../images/about/btn3.jpg) no-repeat; height:147px; width:186px; display:block; float:left;}
.sgkjj4{ background:url(../images/about/btn4.jpg) no-repeat; height:147px; width:186px; display:block; float:left;}

.sgkjj1:hover{ background:url(../images/about/btn1_1.jpg) no-repeat;}
.sgkjj2:hover{ background:url(../images/about/btn2_1.jpg) no-repeat;}
.sgkjj3:hover{ background:url(../images/about/btn3_1.jpg) no-repeat;}
.sgkjj4:hover{ background:url(../images/about/btn4_1.jpg) no-repeat;}



/*热点推荐*/
.lm_one{ margin:0 auto; width:980px;}
.lm_oneleft{ float:left; width:273px;}
.lm_oneright{ float:left; width:707px;}
.lm_onedown{ padding-top:40px;}
.lm_label{ font-size:16px;}
.video{ width:249px;}
.videocont{ padding:7px 0;}
.lmlist a{ color:#000; }
.lmlist span{ float:right;}
span.highlight{ color: #F55814; }

.zczl{ background:url("../images/about/ljzc.jpg") no-repeat; width:249px; height:326px; margin-top:25px;}
.zczlone{ text-align:center; color:#FFFFFF; padding-top:12px;}
.zczltwo{ padding:30px 0 0 18px;}
.zczltwo span{ display:block; padding:1px 0;*padding-top:0px;}
.zczlthree{ padding-left:18px; padding-top:10px;}
.zczlthree_one input{ width:205px; padding-left:5px; line-height:29px; height:29px;background:none; border:0;}
.zczlfour{ padding-left:77px; padding-top:2px;}
.zczlfour input{ width:100px; height:33px; line-height:33px; color:#333; border:0;  background:url(../images/layout/moren.png) no-repeat; cursor:pointer;}
.zczlfour input:hover{ color:#FFF; background:url(../images/layout/onhover.png) no-repeat;}

.lm_jd{ width:338px; float:left; padding-left:15px; padding-bottom:25px;}
.lm_jdup .lm_label{ float:left;}
.lm_jdup a{ float:right; text-decoration:none; color:#666666; padding-top:3px;}
.lm_jddown{  overflow:hidden; height:266px;left:0px;top:0px; position:relative; margin:7px 0;}

.lm_jd_tc{ position:relative;}
.lm_jd_tcbox{ position:absolute; top:-27px; *top:-33px; left:0; filter:alpha(opacity=80); width:290px;  /*支持 IE 浏览器*/
-moz-opacity:0.80; /*支持 FireFox 浏览器*/
opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/ background-color:#000000;  height:70px; overflow:hidden; width:338px; font-size:13px; padding-top:6px; }
.lm_jd_wzup span{ display:block; color:#FFFFFF; padding: 0 25px; line-height:1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lm_jd_tcbox a{ float:right; margin-right:20px; color:#F55814; text-decoration:none; }
.lm_jd_tcbox_on{top:-70px;}
a.more:hover {
text-decoration: underline;
}
a.more {
float: right;
color: #F55814;
text-decoration: none;
}