@charset "utf-8";
/* CSS Document */

*{padding:0; margin:0; font-family:"微软雅黑" }

a:hover{color:#14afff;}
li{list-style-type:none;}

a{cursor:pointer; text-decoration:none;color:#e4e4e4; font-size:14px;}
html { overflow-x:hidden; }
.news{ background:#f8f8f8;}
.news_wrap{ width:1090px;  margin:0 auto; background:#FFFFFF;}
.news_con{width:1050px;margin:0 auto; overflow:hidden; }
.news_posotion{width:250px; height:40px; line-height:40px;}
.news_con a{color:#3a3a3a; font-size:16px; }
.news_con span{color:#ff3400;}
.news_fl{ float:left;width:760px;}
.news_title{margin-top:15px;}
.news_title p{font-size:14px;}
.news_title span{color:#ff3400;}
.news_result{width:762px; border-top:1px solid #bababa; margin-top:15px; border-right:1px solid #bababa; height:1100px;}
.news_list{width:700px; overflow:hidden; margin-top:20px; }
.news_list li{width:103px; height:43px; line-height:43px; text-align:center; background:#fe9b00; float:left; list-style-type:none; margin-right:1px;}
.news_list li a{color:#3d383c;}
.news_list li:hover{ background:#eadea2;}
.news_info{width:710px; height:135px; margin-top:20px;padding-left:10px; border-bottom:1px dashed #dbdbdb;}
.news_biao a{ font-size:16px; font-weight:bold;}
.news_xq{ margin-top:10px;}
.news_xq p{ font-size:14px; color:#474745; line-height:25px;}
.news_xq span{color:#474745; display:inline-block; margin-bottom:5px;}


.news_fr{ float:left;width:253px;  margin-left:30px; margin-top:35px;  }
.fr_zx{background:url(zx.jpg) no-repeat;padding-top:60px; width:253px; height:482px; }
.fr_top{width:210px; margin:0 auto;   }
.fr_top li{width:210px; height:42px; line-height:42px; list-style-type:none; border-bottom:1px solid #d7d7d7;}
.fr_top li a{ font-size:14px; color:#3e3e3e;}
.fr_top li img {margin-right:10px;}

.hot_rec{ background:url(hot.jpg) no-repeat; width:253px; height:588px; padding-top:60px;}

.hot_list{width:232px; height:98px; margin:0 auto; border-bottom:1px dashed #969696; overflow:hidden;}
.hot_fl{ float:left;}
.hot_fl img{margin-top:15px;}
.hot_fr{ float:left; margin-left:5px; width:89px; height:72px;margin-top:15px; padding-top:2px; }
.hot_fr P{ font-size:12px; color:#424242; line-height:22px;}





















