@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0; font-family:"微软雅黑" }

a:hover{color:#14afff;}
li{list-style-type:none;}

a{cursor:pointer; text-decoration:none;color:#e4e4e4; font-size:14px;}
html { overflow-x:hidden; }
.nav_bottom{ width:1005px; height:487px; margin:20px auto; overflow:hidden;}


.load_con{ background:#f8f8f8;}
.load_wrap{ width:1090px;  margin:0 auto; background:#FFFFFF;}
.load_title{ width:953px; height: 120px; line-height:120px;　margin:0 auto; text-align:center; margin-left:80px;　		 }
.load_title p{font-size:26px; color:#fe3c00; font-weight:bold;}
.load_title span{ font-weight:normal; font-size:16px;}
.load_list{width:958px; height: 650px;overflow:hidden; border:1px solid #dfdfdf; margin:0 auto;}
.load_list li{list-style-type:none; width:318px; height:322px; text-align:center; line-height:322px; float:left;}
.load_list img {margin-top:35px;}
.touming{width:243px; height:35px;  filter:alpha(opacity=50); background:#000000; text-align:center; line-height:35px; margin:0 auto; 
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  }

.touming a{ font-size:16px;  }
.touming a:hover{color:#fe3b01;}
.hot_load{ width:953px;  margin:0 auto; margin-top:10px; overflow:hidden; }
.hot_load li{list-style-type:none; width:350px; height:60px; line-height:60px; float:left; margin-right:120px;}
.hot_load li a{ color:#434343; font-size:18px;}
.hot_load li img{ margin-left:10px;}



.jt{width:933px; height:165px; margin:0 auto; border:1px solid #dddddd ;margin-top:20px; }
.jt_title{ width:933px; height:37px; background:#fe7200; overflow:hidden; line-height:37px;}
.jt_fl{ float:left;}
.jt_fl p{ color:#ffffff; font-size:16px; margin-left:20px;}
.jt_fr{ float:right; margin-right:20px;}
.jt_fr a{color:#ffffff; font-size:16px;}

.jt_con{ width:900px; height:100px; margin-top:15px; margin-left:20px;  }
.jt_con span{font-size:14px; font-weight:bold;}
.jt_con p{font-size:14px;  color:#404040; line-height:25px; margin-top:10px;}











