@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0; font-family:"微软雅黑" }

a:hover{color:#14afff;}
li{list-style-type:none;}

a{cursor:pointer; text-decoration:none;color:#ff4103; font-size:15px;}
html { overflow-x:hidden; }
.xuequ{ background:#f8f8f8;}
.xuequ_wrap{ width:1090px;  margin:0 auto; background:#FFFFFF;}
.xuequ_con{width:1013px;margin:0 auto; overflow:hidden; }
.xuequ_posotion{width:250px; height:40px; line-height:40px;}
.xuequ_con a{color:#3a3a3a; font-size:14px; }
.xuequ_con span{color:#ff3400;}
.xuequ_top{margin-top:20px; background-image:url(top.jpg); height:44px; line-height:44px; color:#FFFFFF; font-family:"微软雅黑"}
