/*学区专栏*/
.xqzl{margin:0 auto; width:980px;}
.lm_threedown{ padding-top:20px; width:915px; margin:0 auto;}
.lm_jdt_left{ float:left; margin-top:110px; margin-right:80px; cursor:pointer;}
.lm_jdt_center{ float:left; overflow:hidden;}
.lm_jdt_centerbox{ width:800px; position:relative;}
.lm_jdt_right{ float:left; margin-top:110px; margin-left:80px; cursor:pointer;}
.lm_jdtlist{ width:156px; float:left; text-align:center;  display:inline; margin:0 1px;}
.lm_jdtlist a{ display:block;}
.lm_jdt_title{ padding-top:10px; font-size:14px;}
.lm_jdt_info{ padding-top:5px; width:100%; margin:0 auto;}
.moretwo{ margin-top:5px; display:block; color:#000000;text-decoration:none;}
a.moretwo:hover{color: #F55814; }

.scroll_img {height:437px;position:relative;}
.scroll_img_body {height:437px;width:10000em; float: left;}
.scroll_img_body img {width: 156px;}
.xqzl_pic{ margin:0 auto; width:980px; padding:20px 0;}


/*学区专栏条件*/

.fyss_tjlist{ border-bottom:1px solid #CCCCCC; padding:3px 0; font-size:14px;}
.fyss_tjlistleft{ float:left; font-size:14px; font-weight:bold; color:#000000; width:60px; text-align:justify; height:28px; line-height:28px;}
.fyss_tjlistcenter{ float:left;}
.fyss_tjlistcenter a{ color:#333333; text-align:center; padding:0 10px;margin:0 10px;text-decoration:none; line-height:28px;}
.fyss_tjlistright{ float:left; width:850px;}
.fyss_tjlistright a{color:#333333; text-align:center; display:inline; white-space:nowrap; line-height:28px; margin-right:18px; text-decoration:none;  float:left; padding:0 3px;} 
.fyss_tjlistone a{color:#333333; text-align:center; line-height:28px; margin-right:36px; text-decoration:none; display:block; float:left;}
.fyss_tjlistright a:hover{ color:#ff4e00; }
a.fyss_tj_cur{background-color:#ff4e00; color:#FFF; }
a.fyss_tj_cur:hover{color:#FFF; }
.syss_dw{ float:left; padding-right:15px; line-height:28px;}
.fyss_tjjg{ float:left; padding-top:3px;}
.fyss_tjjgone,.fyss_tjjgthree{ float:left;}
.fyss_tjjgtwo,.fyss_tjjgfour{ float:left; padding:0 5px;}
.fyss_tjjgthree{color:#ff4e00; padding:0 10px;}
.fyss_tjjgfour span{ border:1px solid #999999; height:20px;color:#ff4e00; line-height:20px; padding-bottom:0; display:block; text-align:center; width:50px; cursor: pointer;}
.fyss_tjjgfour span:hover{ background-color:#ff4e00; color:#FFFFFF;  border:1px solid #ff4e00; }
.fyss_tjjgone input{ width:60px; text-align:center;}
.fyss_tjlistmore{ padding-left:20px; float:left; font-size:12px; padding-top:3px;}
.syss_xltj{ float:left; position:relative; width:90px; height:20px; line-height:20px; padding-left:5px; border:1px solid #CCCCCC; background:url(../images/house/xlico.jpg) right center no-repeat; margin-right:20px; margin-bottom:3px; z-index:100;}

.syss_xltjdown{ position:absolute; padding:5px 0; border:1px solid #CCCCCC; background-color:#fff; left:-1px; display:none; z-index:100;}
.syss_xltjdown a{ display:block; height:25px; line-height:25px; width:85px; padding-left:10px; color:#333333; text-decoration:none; }
.syss_xltjdown a:hover{ background-color:#ff4e00; color:#FFFFFF;}
.fyss_tjqr{ float:left; font-size:12px; padding:5px 0 4px 20px;}
a.fyss_qrtj_list{ color:#333333; text-decoration:none;  float:left; border:1px solid #CCCCCC; background:url(../images/house/delete.jpg) right center no-repeat; padding-right:20px; padding-left:5px; margin-right:10px;}
a.fyss_qrtj_list:hover{ border:1px solid #ff4e00;}
.fyss_tjsc{ float:right; width:60px; font-size:12px; padding-top:4px;}
.fyss_tjsc a{ height:20px; line-height:20px;background-color:#ff4e00; text-align:center; display:block; color:#FFFFFF; text-decoration:none;}

.syss_picone{width:980px; margin:0 auto;color:#666666;  padding-top:25px;}
.fyss_sjhm{ padding-left:10px; float:left; position:relative;}

.fyss_sjhm input{ height:20px; line-height:20px; width:170px; margin-top:2px; margin-right:20px; padding-left:5px; border:1px solid #CCCCCC;}
.fyss_sjhm label{ position:absolute; top:6px; left:18px; font-size:12px; color:#999999; z-index:0;}
.fyss_sjhm span{ color:#ff4e00;}
.xqzltj_btn{text-align:center; padding-top:20px;}
.xqzltj_btn input{ width:60px; height:25px; color:#fff; text-decoration:none; padding:5px 10px; background-color:#ff4e00; border: none; cursor: pointer;}
.xqzltj_btn a:hover{ background-color:#f65914;}
/*page*/
.page{ text-align:center; margin-top:35px; height:50px; padding-top:10px; padding-bottom:10px; }
a.pagelist{ border:1px solid #ccc; padding:5px 10px; background-color:#eee; margin:4px; color:#333333; text-decoration:none;}
a.page_cur{ background-color:#ff4e00; color:#FFFFFF;}

.errorSummary{background: #FFFF80; border: 1px solid #ccc; padding-left: 10px; color: #ff0000; margin: 4px 0;}

.xqzltj_btn a{ margin-left:300px;width: 60px; height: 25px; line-height: 25px; color: #fff; text-decoration: none; padding: 5px 10px; background-color: #ff4e00;}
.xqzltj_btn_span{ background:url(../images/house/tpc1.jpg) left center no-repeat; height:25px; line-height:25px; padding-left:20px; margin-left:10px; color: #ff4e00;}










