/*banner*/
.banner{ height:463px; overflow:hidden; }
#full-screen-slider { width:100%; height:463px; float:left; position:relative}
#slides { display:block; width:100%; height:463px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:46.5%; top:433px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#F55814;}

/*banner图下四个快速链接*/
.qlink{ margin:0 auto; width:700px; margin-top:70px; margin-bottom:50px; }
.qlinkone{ float:left;  width:170px; text-align:center;}
.qlinkcenter{ text-align:center; padding:20px 0; font-size:13px;}
.qlinkdown a{ background:url(../images/index/t_a.jpg) no-repeat; width:39px; height:39px; display:block; margin:0 auto; }
.qlinkdown a:hover{background:url(../images/index/t_b.jpg) no-repeat; } 

/*热点推荐*/
.lm_one{ margin:0 auto; width:980px; overflow:hidden;}
.lm_oneleft{ float:left; width:273px;}
.lm_oneright{ float:left; width:702px;}
.lm_onedown{ }
.lm_label{ font-size:16px;}
.video{ width:249px;}
.videocont{ padding:7px 0;}
.lmlist a{ color:#000; text-decoration:none; font-size:16px; }
.lmlist span{ float:right;  font-size:16px;}
span.highlight{ color: #F55814; }


.hot{ width:702px;height:690px; }

.hot_con{width:702px;height:628px; background:url(/static/images/hot_bg.jpg) no-repeat; overflow:hidden;} 
.hot_fl{ float:left; width:323px; height:293px;  margin-left:13px; margin-right:10px; margin-bottom:10px;}
.fl_title{width:317px; height:30px; line-height:30px; position:relative;}
.fl_title p{ color:#ff4303; font-size:16px;}
.fl_title span{color:#696768;}
.hot_more{ position:absolute; width:64px; height:19px; right:10px; top:8px;}
.hot_img{width:318px; height:209px; background:url(/static/images/fl_img.jpg) no-repeat; padding-top:9px; padding-left:7px; }

.hot_loca{ position:relative; width:323px; height:44px; margin-top:-10px;}
.hot_loca p{ color:#373737; font-size:16px;}
.hot_loca span{color:#383838; font-weight:bold;}
.hot_des{position:absolute; right:0px; top:0px; }
.hot_des a{color:#f04300; font-size:16px;}

.zczl{ background:url("../images/layout/ljzc.jpg?33232") no-repeat; width:249px; height:326px; margin-top:25px; padding-top:-5px;}
.zczlone{ text-align:center; color:#ffffff; font-size:12px;}
.zczltwo{ padding:20px 0 0 18px;}
.zczltwo span{ display:block; padding:1px 0;*padding-top:0px;}

.zczlthree{ padding-left:18px; padding-top:10px;}
.zczlthree_one{ padding-bottom:9px;}
.zczlthree_one input{ width:205px; padding-left:5px; line-height:29px; height:29px;background:none; border:0;}
.zczlfour{ padding-left:77px; padding-top:2px;}
.zczlfour input{ width:100px; height:33px; line-height:33px; color:#333; border:0;  background:url(../images/layout/moren.png) no-repeat; cursor:pointer;}
.zczlfour input:hover{ color:#FFF; background:url(../images/layout/onhover.png) no-repeat;}

.lm_jd{ width:338px; float:left; padding-left:15px; padding-bottom:25px;}
.lm_jdup .lm_label{ float:left;}
.lm_jdup a{ float:right; text-decoration:none; color:#666666; padding-top:3px;}
.lm_jddown{  overflow:hidden; height:266px;left:0px;top:0px; position:relative; margin:7px 0;}

.lm_jd_tc{ position:relative;}
.lm_jd_tcbox{ position:absolute; top:-27px; *top:-33px; left:0; filter:alpha(opacity=80); width:290px;  /*支持 IE 浏览器*/
-moz-opacity:0.80; /*支持 FireFox 浏览器*/
opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/ background-color:#000000;  height:70px; overflow:hidden; width:338px; font-size:13px; padding-top:6px; }
.lm_jd_wzup span{ display:block; color:#FFFFFF; padding: 0 25px; line-height:1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lm_jd_tcbox a{ float:right; margin-right:20px; color:#F55814; text-decoration:none; }
.lm_jd_tcbox_on{top:-70px;}

/*豪宅鉴赏*/
.lm_two{ margin:0 auto; width:980px;}
.lm_twoup{ padding-top:30px;}
.lm_twodown{ padding-top:50px;}
.lm_twojs{ width:985px;margin:0 auto; }
.lm_twojs_one{padding-bottom:35px; padding-top:15px; }
.lm_twojs_one_left{ float:left;}
.lm_twojs_one_right{ float:left; width:630px; padding-left:30px; text-align:justify; }



.lm_twojs_title{ font-size:14px; font-weight:bold;}
.lm_twojs_title span{color:#f84701;}
.lm_twojs_info{ padding-top:5px; line-height:2em; height: 145px; overflow: hidden;}
.lm_twojs_info span{ font-weight:bold; font-size:14px; color:#f84701;}
.lm_twojs_one_right_up{ background:#f2f2f2; width:630px; height:52px;}
.lm_twojs_one_right_center{width:630px; height:115px;}
.lm_twojs_one_right_center p{color:#898989;}
.lm_twojs_two{ padding:30px 0; border-bottom:1px solid #000000; border-top:1px solid #000000; }
.lm_twojs_two .lm_twojs_one_right{ padding-right:30px; padding-left:0;}

/*学区专栏*/
.lm_three{margin:0 auto; width:980px;}
.lm_threeup{ padding-top:0px;}
.lm_threedown{ padding-top:50px; width:915px; margin:0 auto;}
.lm_jdt_left{ float:left; margin-top:110px; margin-right:80px; cursor:pointer;}
.lm_jdt_center{ float:left; overflow:hidden;}
.lm_jdt_centerbox{ width:800px; position:relative;}
.lm_jdt_right{ float:left; margin-top:110px; margin-left:80px; cursor:pointer;}
.lm_jdtlist{ width:156px; float:left; text-align:center;  display:inline; margin:0 1px;}
.lm_jdtlist a{ display:block;}
.lm_jdt_title{ padding-top:10px; font-size:14px;}
.lm_jdt_info{ padding-top:5px; width:100%; margin:0 auto;}
.moretwo{ margin-top:5px; display:block; color:#000000;text-decoration:none;}
a.moretwo:hover{color: #F55814; }

.scroll_img {height:437px;position:relative;}
.scroll_img_body {height:437px;width:10000em; float: left;}
.scroll_img_body img {width: 156px;}

/*加国资讯*/
.lm_four{margin:0 auto; width:980px;}
.lm_fourup{ margin-top:20px;  *padding-top:0px;}
.lm_fourdown{ }
.lm_four_news{ padding-top:10px;}
.lm_four_left{ float:left; width:290px; height:396px;  }
.lm_four_flashone a{ z-index:0; position:absolute;}
.lm_flash_tc{ z-index:10; position:relative; filter:alpha(opacity=80); width:290px;  /*支持 IE 浏览器*/
-moz-opacity:0.80; /*支持 FireFox 浏览器*/
opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/  background:#000;height:85px;  top:312px; left:0; }
.lm_flash_tcbox{ z-index:20; position:relative; top:225px; color:#FFFFFF; margin:10px 20px;}
.lm_flash_title{ font-size:16px; text-align:center; border-bottom:1px solid #FFFFFF; padding-bottom:5px;}
.lm_flash_info{ padding-top:5px; text-align:center; }
.lm_flash_info a{ color:#FFFFFF; text-decoration:none;}
.lm_flash_info a:hover{ text-decoration:underline;}
.lm_flash_focus{ text-align:center;}
.lm_flash_focus span{ padding:0 10px; cursor:pointer;}
.cur_span{ color:#FF6600;color:#FF6600;}
.lm_four_center_one{ padding-top:3px; padding-bottom:2px;}
.lm_four_center{ float:left; padding-left:30px; width:370px; margin-top:-10px;}
.lm_four_center_newstitle a{ color:#f2682a; text-decoration:none; font-size:18px;display:block; margin-top:10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lm_four_cneter_newsinfo{ margin-top:5px;*margin-top:2px;}
.lm_four_cneter_newsinfo a{ float:left; display:block; height:20px; line-height:20px; text-decoration:none; color:#000; width: 340px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lm_four_cneter_newsinfo a:hover{ color:#f2682a;}
.lm_four_cneter_newsinfo span{ float:left; display:block; padding: 0 10px 0 5px;}
.lm_four_center_newstitle_two a{ color:#000;}


.lm_four_left_title{width: 254px; height:40px; line-height:40px; position:relative; border-bottom:1px solid #D4D4D4; margin-top:-10px;}
.lm_four_left_title a{color:#000000; text-decoration:none;}
.lm_four_left_title p{ font-size:14px;}
.lm_four_left_title span{ position:absolute; right:0px; font-size:12px;}
.lm_four_flash{width: 254px; height:353px; margin-top:10px;}

.lm_four_right{ float:left; width:290px;}

.lm_four_news_up{border-bottom:1px solid #d4d4d4; height:40px; line-height:30px;}

.lm_four_news_up_left{ float:left; font-size:14px; }
.lm_four_news_up a{ float:right; }
.lm_four_center_title{width: 320px; height:40px; line-height:40px; position:relative; border-bottom:1px solid #D4D4D4;}
.lm_four_center_title p a:hover{ color: #F55814;}

.lm_four_center_title p{ font-size:14px;}
.lm_four_center_title span{ position:absolute; right:0px; font-size:12px;}
.lm_four_center_rec{ height:128px; width:320px; overflow:hidden;margin-top:8px; background:#f0f0f0;}
.lm_four_center_rec_left{float:left; width:150px;}
.lm_four_center_rec_right{float:left;width:150px; position:relative; margin-left:10px; padding-top:5px; font-size:12px; line-height:22px;}
.lm_four_center_rec_right span{position:absolute; top:96px;right:15px; }
.lm_four_center_rec_right a{ color:#e60e23;}
.lm_four_center_title a{color:#000000; text-decoration:none;}
.lm_four_center_rec_right strong{ font-weight:bold;}

.lm_four_news_down{ padding-top:5px;}
.lm_four_news_down_left{ float:left;}
.lm_four_news_down_right{ float:left; width:300px; padding-left:15px;}
.lm_four_news_down_title a{ color:#000; text-decoration:none; font-size:14px; font-weight:bold; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lm_four_news_down_title a:hover{color:#f2682a;}

.lm_four_news_down_info a{ color:#000; text-decoration:none; display:block; margin-top:1px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lm_four_news_down_info a:hover{color:#f2682a;}
.lm_four_right_newslist{ padding:5px 0;}

.news_a{ height:20px; overflow:hidden;  width:200px;  }

.news_a img { dispaly:block; float:left; margin-top:8px; margin-right:10px;}
.canada-news{margin-top: 5px;}

/*焦点图*/
.focus{position:relative;width:254px;height:396px;background-color:#000;/*margin:40px auto 0 auto;*/}
.focus img{width:254px;height:396px;} 
.focus .shadow .title{width:260px;height:65px;padding-left:30px;padding-top:20px;}
.focus .shadow .title a{text-decoration:none;color:#fff;font-size:14px;font-weight:bolder;overflow:hidden;}
.focus .btn{position:absolute;bottom:34px;left:510px;overflow:hidden;zoom:1;} 
.focus .btn a{position:relative;display:inline;width:13px;height:13px;border-radius:7px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9;}  
.focus .btn a:hover,.focus .btn a.current{cursor:pointer;background:#fc114a;}  
.focus .fPic{position:absolute;left:0px;top:0px;}  
.focus .D1fBt{overflow:hidden;zoom:1;height:16px;z-index:10;}  
.focus .shadow{width:100%;position:absolute;bottom:0;left:0px;z-index:10;height:85px;background:rgba(0,0,0,0.6);  
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;display:block;text-align:center;}  
.focus .shadow a{ margin-top:40px; display:inline-block;text-decoration:none;color:#fff;overflow:hidden; text-align:center;font-family:"\5FAE\8F6F\96C5\9ED1"; white-space: nowrap; text-overflow: ellipsis; width: 90%;}
.focus .shadow a:hover{color:#f2682a;}
.focus .fcon{position:relative;width:100%;float:left;display:none;background:#000  }
.focus .fcon img{display:block;}  
.focus .fbg{bottom:5px;left:43.6%;position:absolute;height:21px;text-align:center;z-index:200;}  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative;display:inline;width:6px;height:6px;border-radius:7px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9;}    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#FF6600;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none;font-style:normal;}    
 
.xwdt{ position:relative; z-index:9999;}
.xwdt_title {
position:absolute;
top:320px;
z-index:9999;
width:250px;
margin:0 20px;
font-size: 16px;
color:#FFFFFF;
text-align: center;
border-bottom: 1px solid #FFFFFF;
padding-bottom: 5px;
}

/*房产资讯*/
.lm_five{margin:0 auto; width:980px;}
.lm_five_up{ padding-top:20px;}
.lm_five_down{ padding-top:10px;}
.lm_five_down_pic a{ float:left; text-align:center; display:block; font-size:14px; color:#000; text-decoration:none; padding:0 2px;}
.lm_five_down_pic a:hover{ color:#f2682a;}
.lm_five_down_pic span{ display:block; padding-top:15px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 190px;}
.lm_five_left_news_up{margin-bottom: 10px;}
.lm_five_down_news{ padding-top:30px;}
.lm_five_left{ float:left; width:290px;}
.lm_five_left_label{ padding-bottom:5px;}
.lm_five_left_label a{ float:right;}
.lm_five_left_news_title a{ display:block; margin-top:5px; color:#f2682a; font-size:14px; text-decoration:none; text-align: center;}
.lm_five_left_news_info a{ color:#000; text-decoration:none; display:block; margin-top:4px;}
.lm_five_left_news_down a{ display:block; color:#000000; text-decoration:none; padding-top:5px; padding-bottom:5px; border-bottom:1px dashed #000000;}
.lm_five_left_news_down a:hover{color:#f2682a;}
.lm_five_left_pic{height:218px;}
.lm_five_flash{ position:absolute; width:290px; overflow:hidden; height:218px;}
.lm_five_flash a{ display:block;}
.lm_five_tc{ position:relative;}
.lm_five_tcbox{ position:relative; top:190px; z-index:990; text-align:center;color:#FFFFFF;}
.lm_five_tcbox span{padding:0 5px; cursor:pointer; }
.cur_span{ color:#FF6600;color:#FF6600;}

.lm_five_center{ float:left; width:317px; padding-left:30px;  padding-right:30px;}
.lm_five_center_list{ height:28px; line-height:28px;}
.lm_five_center_list a{ display:block; float:left; color:#000000; text-decoration:none; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 70%;}
.lm_five_center_list a:hover{color:#f2682a;}
.lm_five_center_list span{ float:right; display:block; color:#333333;}
.lm_five_center_pic{ padding-top:15px;}

.lm_five_right{ width:300px; float:left;}
.lm_five_right_up{ padding-top:3px; background:#f0f0f0;}
.lm_five_right_down{ padding-top:2px;}
.lm_five_right_up_left{ float:left;}
.lm_five_right_up_right{ float:left; padding-left:10px; width:180px;}
.lm_five_right_title a{ color:#f2682a; text-decoration:none; display:block; font-size:14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.house_property_special_news_summary{height: 60px; overflow: hidden;}
.lm_five_right_info{ padding-top:10px; line-height:1.7em;}
.lm_five_right_info a { float:right; padding-right:4px; display:block;  color:#f2682a; text-decoration:none; }

/*12-22*/
#hdp{width:290px;height:218px;}
.slides{margin:0px auto;width:290px;height:218px;overflow:hidden;position:relative;}
.slide-pic{width:290px;overflow:hidden;list-style:none; margin:0; padding:0;}
.slide-pic img{width:290px;height:218px;}
.slide-pic li{display:none;}
.slide-pic li.cur{display:block;}
.slide-li{left:44.5%;bottom:15px;position:absolute; padding:0; margin:0; }
.slide-li li{width:5px;height:5px;overflow:hidden;list-style:none; text-align:center; float:left; margin:0 4px;}
.slide-li a{width:5px;height:5px;color:#000;font-size:12px;}
.slide-li a:hover{color:#F00;text-decoration:none;}
.op li{background:#fff;}
.op li.cur{background:#FF6600;}

/*留学移民*/
.lm_six{margin:0 auto; width:980px;}
.lm_six_up{ padding-top:50px;}
.lm_six_banner{ padding-top:50px;}
.lm_six_down{ padding-top:35px;}
.lm_six_left{ float:left; width:240px;}
.lm_six_right{ float:left; width:740px;}
.lm_six_list{ float:left; width:208px; padding-left:25px; padding-right:12px;}
.lm_six_left_two{ padding-top:15px;}
.lm_six_left_two a{ display:block; color:#000000; text-decoration:none; padding:5px 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_six_left_two a:hover{color:#f2682a;}
.lm_six_left_three a{ margin-top:15px; display:block; background-color:#f2682a; color:#FFFFFF; width:115px; height:35px; line-height:35px; text-align:center; text-decoration:none;}
.lm_six_listtwo a{ color:#000000; text-decoration:none; font-size:14px; font-weight:bold; display:block; margin-top:10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_six_listthree{margin-top:4px; height: 72px; overflow: hidden;}
.lm_six_listthree span{font-size:14px; font-weight:bold; line-height:1.7em;}

/*资质证明*/
.lm_seven{margin:0 auto; width:980px;}
.lm_seven_up{ padding-top:50px;}
.lm_seven_down{ padding-left:30px; padding-top:50px;}
.lm_seven_list{ float:left; text-align:center; margin:0 20px;}
.lm_seven_list a{ display:block; text-decoration:none; color:#000000; font-size:13px; }
.lm_seven_list img{ border:2px solid #c9c9c9; display:block;margin-bottom:6px;}

/*合作伙伴*/
.lm_eight{margin:0 auto; width:980px; margin-bottom:40px;}
.lm_eight_up{ padding-top:50px; margin-bottom:20px;}
.lm_eight_down{ padding-top:10px; border-top:1px solid #eee; width:980px; margin:0 auto;}
.lm_eight_down span{ padding:5px 3px; display:block; float:left;}


.swiper-homepage { width:100%; margin:0 auto 0 auto;}
.swiper-hotproject { width:976px; margin:10px auto 10px auto;}
.hotproject img {    width: 976px;    height: 44px;}

.enjoydown_list_xx {
    background: #000000;
    opacity: 0.8;
    filter: Alpha(opacity=80);
    position: absolute;
    width: 330px;
    height: 330px;
    top: 0;
    left: 0;
    text-align: center;
}
/*四个快捷键*/
.nycont_mls{ width:980px; margin:0 auto 0 auto;}
.nycont_sgkjj{ padding-top:20px; margin-right:-50px; zoom:1; margin-bottom:20px;}
.nycont_sgkjj a{ margin-left:25px; margin-right:50px;}
.sgkjj1{ height:147px; width:186px; display:block; float:left;}
.sgkjj2{ height:147px; width:186px; display:block; float:left; }
.sgkjj3{ height:147px; width:186px; display:block; float:left;}
.sgkjj4{  height:147px; width:186px; display:block; float:left;}





p#socialicons img{ /* 1st set of icons. Rotate them 360deg onmouseover and out */
-moz-transition: all 1.8s ease-in-out;
-webkit-transition: all 1.8s ease-in-out;
-o-transition: all 1.8s ease-in-out;
-ms-transition: all 1.8s ease-in-out;
transition: all 1.8s ease-in-out;
}
 
p#socialicons img:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
 
p#socialicons2 img{ /* 2nd set of icons. Rotate them 60deg onmouseover and out */
-moz-transition: all 1.2s ease-in-out;
-webkit-transition: all 1.2s ease-in-out;
-o-transition: all 1.2s ease-in-out;
-ms-transition: all 1.2s ease-in-out;
transition: all 1.2s ease-in-out;
}
 
p#socialicons2 img:hover{
-moz-transform: rotate(70deg);
-webkit-transform: rotate(70deg);
-o-transform: rotate(70deg);
-ms-transform: rotate(70deg);
transform: rotate(70deg);
}
 
p#socialicons3 img{ /* 3rd set of icons. Rotate them -360deg onmouseover ONLY. Note where the "transition prop is added */
}
 
p#socialicons3 img:hover{ 
-moz-transition: all 1.0s ease-in-out;
-webkit-transition: all 1.0s ease-in-out;
-o-transition: all 1.0s ease-in-out;
-ms-transition: all 1.0s ease-in-out;
transition: all 1.0s ease-in-out;
-moz-transform: rotate(-360deg);
-webkit-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-ms-transform: rotate(-360deg);
transform: rotate(-360deg);
}

.homepage-title-text {
    width: 190px;
	text-align: left;
 background: #FFCC80;
  background-image: -webkit-linear-gradient(top, #FFCC80, #E65100);
  background-image: -moz-linear-gradient(top, #FFCC80, #E65100);
  background-image: -ms-linear-gradient(top, #FFCC80, #E65100);
  background-image: -o-linear-gradient(top, #FFCC80, #E65100);
  background-image: linear-gradient(to bottom, #FFCC80, #E65100);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    font-size: 127%;
    text-decoration: none;
    padding: 6px 0px 6px 16px;
	font-weight: 500;

}


.homepage-title-text:hover {
  background: #FF7043;
  background-image: -webkit-linear-gradient(top, #FF7043, #D84315);
  background-image: -moz-linear-gradient(top, #FF7043, #D84315);
  background-image: -ms-linear-gradient(top, #FF7043, #D84315);
  background-image: -o-linear-gradient(top, #FF7043, #D84315);
  background-image: linear-gradient(to bottom, #FF7043, #D84315);
  text-decoration: none;
}
.homepage-title-bar-short {
    *width: 540px;
    *margin: 30px auto;
    background: #FAFAFA;
    background-image: -webkit-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: -moz-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: -ms-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: -o-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: linear-gradient(to bottom, #FAFAFA, #E0E0E0);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 1px 1px 3px #666666;
    padding: 0px 20px 0px 20px;

}


.homepage-title-bar {
    width: 940px;
    margin: 30px auto;
    background: #FAFAFA;
    background-image: -webkit-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: -moz-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: -ms-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: -o-linear-gradient(top, #FAFAFA, #E0E0E0);
    background-image: linear-gradient(to bottom, #FAFAFA, #E0E0E0);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 1px 1px 3px #666666;
    padding: 0px 20px 0px 20px;
  
}
.projects-title-box {
    position: absolute;
    z-index: 9999;
	top: 0px;
    width: 100%;
    *margin: 0 ;
    font-size: 13px;
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0px;
    background: #ff4103;
    opacity: 0.7;
}
.projects-title span{ display:block; padding-top:5px; padding-left:10px;}
