@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑"; font-size:12px; margin:0; padding:0; }
img{ border:0;}
input{ outline: none; }
/*logo头部*/
.head{ width:980px; margin:0 auto;}
.headleft{ float:left;}
.headright{ float:right; }
.headrightone{ font-size:25px; color:#fe4e02; padding-top:10px; padding-bottom:10px; padding-right:15px; margin:15px 0;  float:left; display:block;}
.headrighttwo{ font-size:25px; color:#fe4e02; margin-top:25px; padding-left:35px; float:left; display:block; background:url(../images/layout/dhtb.jpg) left center no-repeat; }
.cl{ clear:both;}

/*登陆*/
.dl_jm{ width:980px; height:457px;margin:0 auto; background:url(../images/login/bg_zc1.jpg) left top no-repeat; }
.dl_jmbg{ background:url(../images/login/dl_1.jpg) top center no-repeat; width:248px; height:300px; float:right; margin-top:25px;  }
.dl_jm_label{ text-align:center; height:38px; line-height:38px; color:#FFFFFF; font-size:14px;}
.dl_jm_cont{ padding-top:9px; position: relative;}
.dl_jm_one{ padding-top:24px; padding-left:20px; position:relative;*margin-bottom:-2px;}
.dl_jm_one input{ height:28px; line-height:28px; background:none; border:0; width:205px; padding-left:5px;}
.dl_jm_two{ padding-top:32px;margin-left:10px;}


.dl_jm_two a{ display:block; float:left; width:100px; text-align:center; text-decoration:none;
height: 33px;color: #333;
line-height: 33px;background: url(../images/layout/moren.png) no-repeat; margin-left:10px; }
.dl_jm_two a:hover{color:#FFF; background:url(../images/layout/onhover.png) no-repeat;}

.input-login{display: block;
float: left;
width: 100px;
height: 33px;
line-height: 33px;
color: #333;
border: 0;
background: url(../images/layout/moren.png) no-repeat;
cursor: pointer;
margin-left: 10px;}
.input-login:hover{color:#FFF; background:url(../images/layout/onhover.png) no-repeat;}


.dl_zhmm{ background:url(../images/login/zhmm.jpg) no-repeat; height:239px;}
.dl_zhmmdown{ padding-top:30px; text-align:center;margin-left:0;}
.dl_zhmmdown a{  display:block;width:100px; margin:0 auto; height:35px; line-height:35px; float:none; }





.dl_zc{ background:url(../images/login/zhuce1.jpg) no-repeat; height:438px;}
.dl_jm_one label{ position:absolute; top:30px; left:25px; color:#666;}

.errorMessage{position: absolute; width: 100%; padding-left: 20px; height: 23px; line-height: 23px; color: #ff0000;}

/*新加*/
.dl_jm_yzm input{ width:110px;}
#sjyzm{ position:absolute; cursor:pointer; width:85px; margin-left:10px; border:0; background:none;}
.dl_jm2{ height:500px;}
.dl_zc{ height:488px;}

/*2-28*/
.dl_jm_left{ float:left; margin:152px 0 0 390px;}
.dl_jm_left_info_one{ font-size:15px; background:url(../images/house/dhico.jpg) right center no-repeat; height:26px; line-height:26px; width:155px;}
.dl_jm_left_info_two{ font-size:24px; color:#ff4e00; margin-top:5px; font-weight:bold;}
.dl_jm_left_info_three{ margin:10px 0 0 0px;}
.dl_jm_left_info_three a{ display:block; background:url(../images/house/ljzx.jpg) left center no-repeat; width:99px; line-height:36px; text-align:center; color:#000000; font-size:14px; text-align:center; text-decoration:none;


width: 100px;
height: 33px;
line-height: 33px;
color: #333;
border: 0;
background: url(../images/layout/moren.png) no-repeat;

}

.dl_jm_left_info_three a:hover{
	
color: #FFF;
background: url(../images/layout/onhover.png) no-repeat;	
	}
.dl_jm_three_left{ float:left; color:#333;}
a.dl_jm_three_right{ float:right; display:block; text-decoration:none; color:#333;}
a.dl_jm_three_right:hover{ text-decoration:underline;}
.dl_jm_three{ margin:50px 20px; height:20px; line-height:20px;}
.dl_jm_three_left input{  float:left; }
.dl_jm_three_left span{ display:block; float:left;}

/*3-20*/
.zc_jm{ width:980px; height:500px;margin:0 auto; }
.zc_jm_left{ float:left; width:500px; padding-top:38px;}
.zc_jm_left_down{ padding-top:40px; position:relative; width:665px;}
.zc_jm_left_down_left{ font-size:14px; float:left;}
.zc_jm_left_down_right{ position:absolute; right:0; top:20px; background:url(../images/login/zc_tp2.jpg) left top no-repeat; padding:35px 0 0 55px; height:150px; }
.zc_jm_left_down_left span{ display:block; float:left; width:250px; margin:5px 0}
.zc_jm_left_down_left em{ font-style:normal; color:#ff4e00; font-size:17px;}
.zc_jm_left_down_right .dl_jm_left_info_two{ font-size:22px; color:#ff4e00; margin-top:0px; font-weight:bold;}
.zc_jm_left_down_right .dl_jm_left_info_three{ margin:10px 0 0 0px;}
.zc_a input{margin-left:75px;display: block;background: url(../images/login/ljzx.png) left center no-repeat;width: 99px;height: 36px;color: #000000;font-size: 14px;border: none;cursor: pointer;}
.zc_a input:hover{background: url(../images/login/zc_ahover.png) left center no-repeat; color:#FFFFFF;}
.sjyzm{ position: absolute;width: 112px;height: 33px;display: block;top: 22px;left: 117px;text-decoration: none;color: #000000;text-align: center;line-height: 33px;}

.zhmm_jmbg{ background:url(../images/login/zhmm_1.jpg) top center no-repeat; width:248px; height:300px; float:right; margin-top:25px; }
.zhmm_jm_two input{ margin:30px auto; display:block; width:105px; height:38px; line-height:35px; text-align:center; color:#333333; text-decoration:none; cursor: pointer;}

/*底部foot*/
.foot{ background:#ff4e00 url(../images/login/footup.jpg) center top repeat-x; padding-top:95px; *margin-top:0; padding-bottom:40px;}
.footup{ width:980px; margin:0 auto;}
.f_linkup{ text-align:center; font-size:18px; color:#FFFFFF; padding-bottom:16px; }
.f_linkdown a{ display:block; color:#FFFFFF; text-decoration:none; float:left; width:162px; padding:2px 0;}
.f_linkdown a:hover{ text-decoration:underline;}
.footdown{width:980px; margin:0 auto; text-align:center; padding-top:60px; line-height:1.6em; color:#FFFFFF;}
.footdown a{ color:#FFFFFF; text-decoration:none;}

/*底部foot*/
.topbox{ position:fixed; bottom:50px; right:10px;}
.fh{cursor: pointer;width:24px; height:24px;position:relative;}
.topone{ }
.back{ position:absolute; top:24px; left:-110px;background-color:#ff4e00; width:100px; color:#FFFFFF; padding:5px;}
.back p{ padding:0; margin:0;}
.back_lxfs p{ margin:0; padding:0;border-bottom: solid 1px #fff; padding-bottom:5px;}
.weixin_iconbg p{ text-align:center; padding-top:5px;}
.back span{ display:block; padding:3px 0;}
.back_qq{ }
.back_qq a{ display:block; color:#333333; text-decoration:none; height:25px; line-height:25px; margin:3px 0; background-color:#FFFFFF; }
.back_qq img{ float:left; padding-right:5px;}