/*房源搜索*/

.fyss{width:980px; margin:0 auto;}
.fyss_tablist a{ float:left; width:136px; text-decoration:none; color:#ff4e00; font-size:14px; height:36px; line-height:36px; text-align:center; background-color:#FFFFFF; border:1px solid #ff4e00; margin-right:-1px;}
.fyss_tablist_cur a{ color:#FFFFFF; background-color:#ff4e00;}
.fyss_tjlist{ border-bottom:1px solid #CCCCCC; padding:3px 0; font-size:14px;}
.fyss_tjlistleft{ float:left; font-size:14px; font-weight:bold; color:#000000; width:60px; text-align:justify; height:28px; line-height:28px;}
.fyss_tjlistcenter{ float:left;}
.fyss_tjlistcenter a{ color:#333333; text-align:center; padding:0 20px; text-decoration:none; line-height:28px;}
.fyss_tjlistright{ float:left; width:850px;}
.fyss_tjlistright a{color:#333333; text-align:center; display:inline; white-space:nowrap; line-height:28px; margin-right:18px; text-decoration:none;  float:left;}
.fyss_tjlistone a{color:#333333; text-align:center; line-height:28px; margin-right:36px; text-decoration:none; display:block; float:left;}
.fyss_tjlistright a:hover{ color:#ff4e00; }
a.fyss_tj_cur{color:#ff4e00; }
.syss_dw{ float:left; padding-right:15px; line-height:28px;}
.fyss_tjjg{ float:left; padding-top:3px;}
.fyss_tjjgone,.fyss_tjjgthree{ float:left;}
.fyss_tjjgtwo,.fyss_tjjgfour{ float:left; padding:0 5px;}
.fyss_tjjgthree{color:#ff4e00; padding:0 10px;}
.fyss_tjjgfour a{ border:1px solid #999999; height:20px;color:#ff4e00; line-height:20px; padding-bottom:0; display:block; text-align:center; width:50px;}
.fyss_tjjgfour a:hover{ background-color:#ff4e00; color:#FFFFFF;  border:1px solid #ff4e00; }
.fyss_tjjgone input{ width:60px; text-align:center;}
.fyss_tjlistmore{ padding-left:20px; float:left; font-size:12px; padding-top:3px;}
.syss_xltj{ float:left; position:relative; width:90px; height:20px; line-height:20px; padding-left:5px; border:1px solid #CCCCCC; background:url(../images/house/xlico.jpg) right center no-repeat; margin-right:20px; margin-bottom:3px;}

.syss_xltjdown{ position:absolute; padding:5px 0; border:1px solid #CCCCCC; background-color:#fff; left:-1px; display:none;}
.syss_xltjdown a{ display:block; height:25px; line-height:25px; width:85px; padding-left:10px; color:#333333; text-decoration:none; }
.syss_xltjdown a:hover{ background-color:#ff4e00; color:#FFFFFF;}
.fyss_tjqr{ float:left; font-size:12px; padding:5px 0 4px 20px;}
a.fyss_qrtj_list{ color:#333333; text-decoration:none;  float:left; border:1px solid #CCCCCC; background:url(../images/house/delete.jpg) right center no-repeat; padding-right:20px; padding-left:5px; margin-right:10px;}
a.fyss_qrtj_list:hover{ border:1px solid #ff4e00;}
.fyss_tjsc{ float:right; width:60px; font-size:12px; padding-top:4px;}
.fyss_tjsc a{ height:20px; line-height:20px;background-color:#ff4e00; text-align:center; display:block; color:#FFFFFF; text-decoration:none;}
.syss_picone{width:980px; margin:0 auto;color:#666666;  padding-top:25px;}

span.align-left{ text-align: left; }
span.align-right{ text-align: right; }

/*page*/
.page{ text-align:center; margin-top:35px; height:50px; padding-top:10px; padding-bottom:10px; }
a.pagelist{ border:1px solid #ccc; padding:5px 10px; background-color:#eee; margin:4px; color:#333333; text-decoration:none;}
a.page_cur{ background-color:#ff4e00; color:#FFFFFF;}


/*syss_fc_right*/

.syss_jg_right{ float:left; width:250px; padding-left:65px;}
.zczl{ background:url(../images/layout/ljzc.jpg) no-repeat; width:249px; height:326px; }
.zczlone{ text-align:center; color:#FFFFFF; padding-top:12px;}
.zczltwo{ padding:30px 0 0 18px;}
.zczltwo span{ display:block; _height:16px; padding:1px 0; _padding:0;}

.zczlthree{ padding-left:18px; padding-top:5px;}
.zczlthree_one{margin-bottom:9px; *margin_bottom:7px;_margin_bottom:6px;}
.zczlthree_one input{ width:205px; padding-left:5px; line-height:39px; height:29px; *line-height:28px;*height:28px;background:none; border:0;}
.zczlfour{ padding-left:77px; padding-top:2px; _padding:0;}


.zczlfour input{ width:100px; height:33px; line-height:33px; color:#333; border:0;  background:url(../images/layout/moren.png) no-repeat; cursor:pointer;}
.zczlfour input:hover{ color:#FFF; background:url(../images/layout/onhover.png) no-repeat;}

.sylj{ background:url(../images/layout/ssxtb.jpg) no-repeat; height:300px; margin-top:15px;}
.syljtitle{ font-size:12px; padding-top:13px; padding-left:6px; color:#FFFFFF;text-align:center;}
.syljcont{ margin-top:40px; padding-left:10px;}
.syljcont a{ display:block; float:left;  width:78px;  margin-top:10px; text-align:center; color:#000; text-decoration:none;}
.syljcont span{ display:block; padding-top:5px;}

.grtz{ background:url(../images/layout/tsbg.jpg) no-repeat; width:247px; height:409px; margin-top:15px;}
.grtztitile{ text-align:center; padding-top:11px; padding-left:5px; color:#FFFFFF;}
.grtzcont{ padding-top:53px; padding-left:20px;}
.grtzonedown{ background-color:#FFFFFF; position:absolute; display:none; width:210px; left:-1px; top:0px; z-index:800; padding:5px 0;}
.grtzonedown a{ display:block; padding-left:20px; color:#333333; height:25px; line-height:25px; text-decoration:none;}
.grtzonedown a:hover{ background-color:#eee;}
.grtzoneup{ position:relative; z-index:100;}
.grtzone{ margin-bottom:8px;  *margin-bottom:6px; }
.grtzone input{ height:30px; padding-left:8px; line-height:34px; z-index:10; width:200px;background:none; border:0; position:relative;}
.grtztj{ padding-top:15px; margin-left:25px;}
.grtztj a{ display:block; width:158px; height:35px;}

.grtztj a{ width:158px; height:33px; line-height:33px; color:#333; border:0;  background:url(../images/layout/moren1.png) no-repeat; cursor:pointer;}
.grtztj a:hover{ color:#FFF; background:url(../images/layout/onhover1.png) no-repeat;}

/*房源详情页面*/
.fyxq{ margin:0 auto; width:980px;}
.fyxq_tab a{ width:60px; height:30px; line-height:30px; display:block; float:left; color:#333333; text-decoration:none; border:1px solid #ff4e00; margin-right:-1px; text-align:center; font-size:14px;}
a.fyxq_tab_cur,.fyxq_tab a:hover{ color:#FFFFFF; background-color:#ff4e00;}
.fyxqupleft{ float:left; width:573px;}
.diflashup{ width:573px; overflow:hidden; height:327px;}
.diflashdown{ width:573px; overflow:hidden; height:83px; padding-top:3px; padding-left:10px;}
.diflashdown span{ display:block; background:url(../images/house/a_bg1.jpg) no-repeat; width:127px; padding:7px 0 0 2px; margin:0 5px; height:82px; float:left;}
.diflashdown span:hover{  background:url(../images/house/a_bg2.jpg) no-repeat;}
.diflashdown .span_cur{background:url(../images/house/a_bg2.jpg) no-repeat;}

.fyxq_tab_cont_sp{ background-color:#999999; width:573px; height:413px; display:none;}

.fyxqupright{ float:right; width:372px;}
.fyxqupright_titile{ height:30px; font-size:14px; background-color:#ff4e00; color:#FFFFFF;padding-left:10px; float:left; line-height:30px; padding-right:30px;}
.fyxqupright_cont{ border:1px solid #ff4e00; padding:15px;}
.fyxq_ptss{ padding:5px 0;}
.fyxq_ptssleft{ float:left; font-size:14px;}
.fyxq_ptssright{ float:left; width:290px; font-size:14px;}
.fyxq_ptssright i{ color:#ff4e00; padding:0px 5px; font-style:normal;}
.fyxq_ptssright span{ font-size:12px;}

.fyxq_ptpd span{ display:block; padding-left:17px; margin-left:5px; margin-right:10px; margin-bottom:10px; white-space:nowrap; background:url(../images/wu.jpg) left center  no-repeat; color:#999999; float:left; margin-top:3px;}
.fyxq_ptpd .fyxq_ptss_you{ color:#ff4e00; background:url(../images/house/you.jpg) left center  no-repeat; }
.fyxq_up_right_pic{ margin-top:30px;}

.fyxqdown{padding-top:30px;}
.fyxqdown_left{ float:left; width:693px;}
.fyxqdown_right{ float:right; width:250px;}
.fyxqdown_left_title{ border-bottom:1px solid #ff4e00; height:28px; overflow:hidden;}
.fyxqdown_left_title a{ border:1px solid #ff4e00; background-color:#FFFFFF; margin-right:-1px; color:#ff4e00; text-decoration:none; height:28px; line-height:28px; padding:0 15px; font-size:14px; display:block; float:left; border-bottom:0; }
a.fyxqdown_left_cur,.fyxqdown_left_title a:hover{ background-color:#ff4e00; color:#FFFFFF;}
.fyxqdown_left_cont{ padding-top:20px;}
.xqlb_list{ border-bottom:1px solid #CCCCCC; height:30px; line-height:30px; font-size:14px;}
.xqlb_list_left{ float:left; width:370px;}
.xqlb_list_right{ float:left;}

.fwbj_box{ margin-top:30px; font-size:14px;}
.fwbj_contlist_one,.fwbj_contlist_two,.fwbj_contlist_three,.fwbj_contlist_four,.fwbj_contlist_five{ float:left; width:75px;}
.fwbj_contlist_six{ float:left;}
.fwbj_cont{ margin-top:20px;}
.fwbj_contlist{ border-bottom:1px solid #CCCCCC; height:30px; line-height:30px;}
.fwms_cont{ line-height:2em; padding-top:30px; text-align:justify;}

.scroll_img {height:317px;position:relative;}
.scroll_img_body {height:317px;width:10000em; float: left;}
.scroll_img_body img {width: 192px;}
.fjfy_list{ float:left; margin:0 3px;}
.fjfy_list a{ text-decoration:none;color:#333333;}
.fjfy_list span{ display:block; text-align:center; }
.fjfy_list_spanone{ padding-top:10px; color:#000000; font-size:14px;}
.fjfy_list_spantwo{ font-size:16px; color:#ff4e00;}
.lm_three_jdt{ padding-left:8px;}


/*房产资讯*/
.zx_zwy{ padding:0;}
.jgzx_up{ margin:0 -6px; padding-bottom:15px;}
.jgzx_up a{ float:left; width:192px; display:block; color:#333333; text-decoration:none; padding:0 3px;}
.jgzx_up a:hover{ color:#ff4e00;}
.jgzx_up a span{ display:block; line-height:35px; font-size:14px; text-align:center;}
.exhibition_title{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.jgzx_down_left{ float:left; width:290px; overflow:hidden;}
.jgzx_down_right{ float:left; width:54%; overflow:hidden; margin-left:25px;}
.lm_five_left_label{ border-bottom:1px solid #ff4e00; margin-bottom:35px;}
a.moretwo{ color:#333; text-decoration:none; line-height:30px;}
.jgzx_label_left{ float:left; background-color:#ff4e00; height:30px; line-height:30px; color:#FFFFFF; padding:0 16px; font-size:14px;}
.lm_five_down_news{ padding-top:30px;}
.lm_five_left{ float:left; width:290px;}
.lm_five_left_label a{ float:right;}
.lm_five_left_news_title a{ display:block; margin-top:5px; color:#f2682a; font-size:14px; text-decoration:none; text-align: center;}
.lm_five_left_news_info a{ color:#000; text-decoration:none; display:block; margin-top:4px;}
.lm_five_left_news_down a{ display:block; color:#000000; text-decoration:none; padding-top:5px; padding-bottom:5px; border-bottom:1px dashed #000000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_five_left_news_down a:hover{color:#f2682a;}
.lm_five_left_pic{height:218px;}
.lm_five_flash{ position:absolute; width:290px; overflow:hidden; height:218px;}
.lm_five_flash a{ display:block;}
.lm_five_tc{ position:relative;}
.lm_five_tcbox{ position:relative; top:190px; z-index:990; text-align:center;color:#FFFFFF;}
.lm_five_tcbox span{padding:0 5px; cursor:pointer; }
.cur_span{ color:#FF6600;color:#FF6600;}

#hdp{width:290px;height:218px;}
.slides{margin:0px auto;width:290px;height:218px;overflow:hidden;position:relative;}
.slide-pic{width:290px;overflow:hidden;list-style:none; margin:0; padding:0;}
.slide-pic img{width:290px;height:218px;}
.slide-pic li{display:none;}
.slide-pic li.cur{display:block;}
.slide-li{left:44.5%;bottom:15px;position:absolute; padding:0; margin:0; }
.slide-li li{width:5px;height:5px;overflow:hidden;list-style:none; text-align:center; float:left; margin:0 4px;}
.slide-li a{width:5px;height:5px;color:#000;font-size:12px;}
.slide-li a:hover{color:#F00;text-decoration:none;}
.op li{background:#fff;}
.op li.cur{background:#FF6600;}

.lm_five_left_news_up{margin-bottom: 10px;}
.lm_five_center{ float:left; margin-top:20px;}
.lm_five_center_list{ height:28px; line-height:28px;}
.house_hotspots_line{height: 24px !important; line-height: 24px !important;}
.lm_five_center_list a{ display:block; float:left; color:#000000; text-decoration:none; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 78%;}
.house_hotspots{width: 70% !important;}
.lm_five_center_list a:hover{color:#f2682a;}
.lm_five_center_list span{ float:right; display:block; color:#333333;}
.lm_five_center_pic{margin-top: 18px; margin-bottom:12px;}

.lm_five_right{ float:left; margin-top:20px; width:290px;}
.lm_five_right_up{ padding-top:3px;margin-bottom: 4px;}
.lm_five_right_up_left{ float:left;}
.lm_five_right_up_right{ float:left; padding-left:10px; width:185px;}
.lm_five_right_title a{ color:#f2682a; text-decoration:none; display:block; font-size:14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_five_right_info{ padding-top:5px; line-height:1.7em;}
.house_property_special_news_summary{height: 60px; overflow: hidden;}
.lm_five_right_info a { float:right; display:block;  color:#f2682a; text-decoration:none; }

.jgzx_rdxw_up_left{ float:left;}
.jgzx_rdxw_up_right{ float:left; width:199px; padding-left:15px; }
.jgzx_rdxw_up_right a{padding-top:16px; text-decoration:none;}

.jgzx_title{ color:#333333; font-size:15px; font-weight:bold; text-decoration:none; display:block; margin-bottom:10px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.jgzx_rdxw_up_right span{ line-height:1.8em; display: inline-block; height: 80px; overflow: hidden;}
.jgzx_ljxx{ display:block; text-align:right; color:#ff4e00; text-decoration:none;}
.jgzx_ljxx:hover{ text-decoration:underline;}
.jgzx_rdxw_up{ margin-bottom:40px;}



/*加国资讯*/
.lm_four{margin:0 auto; width:980px;}
.lm_fourup{ padding-top:50px; *padding-top:0px;}
.lm_fourdown{ padding-top:50px;}
.lm_four_news{ padding-top:40px;}
.lm_four_left{ float:left; width:290px; height:396px;  }
.lm_four_flashone a{ z-index:0; position:absolute;}
.lm_flash_tc{ z-index:10; position:relative; filter:alpha(opacity=80); width:290px;  /*支持 IE 浏览器*/
    -moz-opacity:0.80; /*支持 FireFox 浏览器*/
    opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/  background:#000;height:85px;  top:312px; left:0; }
.lm_flash_tcbox{ z-index:20; position:relative; top:225px; color:#FFFFFF; margin:10px 20px;}
.lm_flash_title{ font-size:16px; text-align:center; border-bottom:1px solid #FFFFFF; padding-bottom:5px;}
.lm_flash_info{ padding-top:5px; text-align:center; }
.lm_flash_info a{ color:#FFFFFF; text-decoration:none;}
.lm_flash_info a:hover{ text-decoration:underline;}
.lm_flash_focus{ text-align:center;}
.lm_flash_focus span{ padding:0 10px; cursor:pointer;}
.cur_span{ color:#FF6600;color:#FF6600;}
.lm_four_center_one{ padding-top:3px; padding-bottom:2px;}
.lm_four_center{ float:left; width:290px; margin-top:30px;}
.lm_four_center_newstitle a{ color:#f2682a; text-decoration:none; font-size:18px;display:block; margin-top:10px;}
.lm_four_cneter_newsinfo{ margin-top:5px;*margin-top:2px;}
.lm_four_cneter_newsinfo a{ float:left; display:block; height:20px; line-height:20px; text-decoration:none; color:#000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_four_cneter_newsinfo a:hover{ color:#f2682a;}
.lm_four_cneter_newsinfo span{ float:left; display:block; padding:0 10px;}
.lm_four_center_newstitle_two a{ color:#000;}

.lm_four_right{ float:left; width:290px;margin-top:10px;}
.lm_four_news_up_left{ float:left; font-size:14px; font-weight:bold;}
.lm_four_news_up a{ float:right; }
.lm_four_news_down_left{ float:left;}
.lm_four_news_down_right{ float:left; width:180px; padding-left:15px;}
.lm_four_news_down_title a{ color:#000; text-decoration:none; font-size:14px; font-weight:bold;}
.lm_four_news_down_title a:hover{color:#f2682a;}

.lm_four_news_down_info a{ color:#000; text-decoration:none; display:block; margin-bottom:4px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_four_news_down_info a:hover{color:#f2682a;}
.lm_four_right_newslist{ padding:5px 0;}
.news_a{ height:21px; overflow:hidden;}

.lxym_up{ margin:0 auto; width:980px; margin-bottom:35px;}
.lm_six_list{ float:left; width:220px; margin-top:20px;}
.lm_six_left_two{ padding-top:15px;}
.lm_six_left_two a{ display:block; color:#000000; text-decoration:none; padding:3px 0;}
.lm_six_left_two a:hover{color:#f2682a;}
.lm_six_left_three a{ margin-top:20px; display:block; background-color:#f2682a; color:#FFFFFF; width:115px; height:35px; line-height:35px; text-align:center; text-decoration:none;}
.lm_six_listtwo a{ color:#000000; text-decoration:none; font-size:14px; font-weight:bold; display:block; margin-top:10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.lm_six_listthree{margin-top:4px; margin-bottom:18px;overflow: hidden;}
.lm_six_listthree span{font-size:14px; font-weight:bold; line-height:2em;}
.lxjm_rightbox{ margin:0;}




/*焦点图*/
.focus{position:relative;width:290px;height:396px;background-color:#000;margin:0 auto 0 auto;}
.focus img{width:290px;height:396px;}
.focus .shadow .title{width:260px;height:65px;padding-left:30px;padding-top:20px;}
.focus .shadow .title a{text-decoration:none;color:#fff;font-size:14px;font-weight:bolder;overflow:hidden;}
.focus .btn{position:absolute;bottom:34px;left:510px;overflow:hidden;zoom:1;}
.focus .btn a{position:relative;display:inline;width:13px;height:13px;border-radius:7px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9;}
.focus .btn a:hover,.focus .btn a.current{cursor:pointer;background:#fc114a;}
.focus .fPic{position:absolute;left:0px;top:0px;}
.focus .D1fBt{overflow:hidden;zoom:1;height:16px;z-index:10;}
.focus .shadow{width:100%;position:absolute;bottom:0;left:0px;z-index:10;height:85px;background:rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;display:block;text-align:center;}
.focus .shadow a{ margin-top:40px; display:inline-block;text-decoration:none;color:#fff;overflow:hidden; text-align:center;font-family:"\5FAE\8F6F\96C5\9ED1"; white-space: nowrap; text-overflow: ellipsis; width: 90%;}
.focus .fcon{position:relative;width:100%;float:left;display:none;background:#000  }
.focus .fcon img{display:block;}
.focus .fbg{bottom:5px;left:43.6%;position:absolute;height:21px;text-align:center;z-index:200;}
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}
.focus .D1fBt a{position:relative;display:inline;width:6px;height:6px;border-radius:7px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9;}
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#FF6600;}
.focus .D1fBt img{display:none}
.focus .D1fBt i{display:none;font-style:normal;}

.xwdt{ position:relative; z-index:9999;}
.xwdt_title {
    position:absolute;
    top:320px;
    z-index:9999;
    width:250px;
    margin:0 20px;
    font-size: 16px;
    color:#FFFFFF;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 5px;
}

/*正文页*/
.zx_zwy{ padding:0;}
.zx_zwytitle{ font-size:25px; text-align:center; padding-bottom:10px; padding-top:5px;}
.zx_zwyinfo{ margin:0 auto; width:500px; padding-bottom:10px;}
.zx_span_time{ float:left; display:block;line-height:28px;}
.zx_span_zz{ float:left; display:block; margin-left:50px;line-height:28px; width:120px;}
.zx_span_fx{ float:left; display:block; margin-left:10px;line-height:28px;}
.bdsharebuttonbox{ float:right;}
.zx_zwy_wz{ min-height:650px;}
.zx_zwy_wz p{  line-height:2em; font-size:14px; text-indent:2em;}


.zx_zwy_prev{ float:left; display:block; width: 220px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.zx_zwy_next{ float:right; display:block; width: 220px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.zx_zwy_qhy{ margin-top:30px;margin-bottom: 10px;}
.zx_zwy_qhy span{ color:#888;}
.zx_zwy_qhy a{ text-decoration:none; color:#111;}
.zx_zwy_qhy a:hover{ text-decoration:underline;}

a.moretwo:hover{color:#ff4e00;}

/*3-10留学移民*/

.lm_six_listtwo{ margin:12px 0 7px 0;}