@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0; font-family:"微软雅黑" }

a:hover{color:#14afff;}
li{list-style-type:none;}

a{cursor:pointer; text-decoration:none;color:#e4e4e4; font-size:14px;}
html { overflow-x:hidden; }
.nav_bottom{ width:1005px; height:487px; margin:20px auto; overflow:hidden;}


.ser_con{ background:#f8f8f8;}
.ser_wrap{ width:1090px; margin:0 auto; background:#FFFFFF;}
.ser_title{ width:953px; height: 120px; line-height:120px;　margin:0 auto; text-align:center; margin-left:80px;　		 }
.ser_title p{font-size:26px; color:#fe3c00; font-weight:bold;}


.ser_list{ width:953px; height: 300px;  overflow:hidden; margin:0 auto;}
.ser_fl {float:left; width:224px; height: 160px; background:url(fl_bg.jpg) no-repeat; margin-top:20px;}
.ser_fl img{ margin-top:10px; margin-left:12px;}
.ser_fr{float:left; width:690px; height: 160px; margin-top:20px; margin-left:20px;}
.ser_fr p{line-height:33px; font-size:18px;}


.hot{width:953px; height: 265px; margin:0 auto; border-top:1px solid #a8a8a8; border-bottom:1px solid #a8a8a8;background:#FFFFFF;  }
.hot_title{ width:115x; height: 55px; line-height:55px; }
.hot_title p{font-size:16px; color:#222222;}
.hot_con{overflow:hidden;width:953px; height: 178px;}
.hot_img{float:left;width:264px; height: 178px; }
.hot_fr{float:left;width:676px; margin-left:10px; height: 178px;}
.hot_price{width:676px; height: 48px; background-color:#f2f2f2; padding-left:5px;}
.hot_price{ font-size:16px;}
.hot_price span{color:#f64500;}
.hot_des{margin-top:5px;}
.hot_des p{color:#898989; font-size:14px; line-height:22px;}
.hot_info{width:66px; height: 21px; line-height:21px;margin-top:5px;}
.hot_info a{color:#FFFFFF;}



