@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0; font-family:"微软雅黑" }

a:hover{color:#14afff;}
li{list-style-type:none;}

a{cursor:pointer; text-decoration:none;color:#e4e4e4; font-size:14px;}
html { overflow-x:hidden; }



.jianjie{ background:#f8f8f8;}
.jianjie_wrap{ margin:0 auto; background:#FFFFFF;}
.jianjie_title{height: 120px; line-height:120px;　margin:0 auto; text-align:center; margin-left:80px;　		 }
.jianjie_title p{font-size:26px; color:#fe3c00; font-weight:bold;}
.jianjie_con{width:980px; height: 372px;margin:0 auto; }
.jianjie_list{width:980px; height: 131px; overflow:hidden;margin:0 auto;}
.jianjie_list li{width:98px; height: 131px; list-style-type:none; float:left;}
.jianjie_list li a{font-size:12px; color:#ff3b00; display:block; text-align:center;width:98px; height: 30px; line-height:30px;}
.jianjie_des{ margin-top:20px;}
.jianjie_des p{font-size:16px; color:#4e4e4e; line-height:36px;}
.jianjie_des span{color:#ff3c02;}



.huiyuan_title{width:953px; height: 80px; line-height:80px;　margin:0 auto; text-align:center; margin-left:80px;}
.huiyuan_title p{font-size:26px; color:#fe3c00; font-weight:700;}
.huiyuan_con{width:980px; height: 186px;margin:0 auto;}


.liuxue{width:960px; height: 415px;margin:0 auto; margin-top:100px;  margin-bottom:30px; }
.liuxue_title{width:812px; height: 80px; }
.liuxue_title p{font-size:26px; color:#fe3c00; font-weight:700;}
.liuxue_title span{font-size:16px; color:#000000;font-weight:normal; margin-top:10px; display:block;}

.liuxue_sq{width:918px; height: 335px; }
.sq_title p{font-size:16px; font-weight:bold;}
.sq_add{width:710px; overflow:hidden; }
.sq_fl{float:left;width:50px; }
.sq_fr{float:left; width:650px; margin-left:5px;}
.sq_fr p{font-size:16px; line-height:30px; letter-spacing:1px; font-weight:600;}
.sq_fr span{color:#fa6000; font-weight:normal;}



.down{width:960px; height: 150px; margin:0 auto;}
.down_title{width:164px; height: 47px; line-height:47px;}
.down_title p{ font-weight:bold;}
.down_img {width:8800px; height: 78px; overflow:hidden;}
.down_img li{list-style-type:none; float:left; margin-right:200px;}












